# Regression

## predict salary of an employee using the employee's experience

### import required packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### load the data

In [3]:
df = pd.read_csv('./Salary_Data.csv')
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

### EDA

In [4]:
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [5]:
df.describe()

       YearsExperience         Salary
count        33.000000      33.000000
mean          5.921212   82760.303030
std           3.342413   34014.620992
min           1.100000   37731.000000
25%           3.200000   56957.000000
50%           5.100000   67938.000000
75%           8.700000  109431.000000
max          13.000000  156000.000000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33 entries, 0 to 32
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  33 non-null     float64
 1   Salary           33 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 660.0 bytes

In [7]:
df.corr()

                 YearsExperience    Salary
YearsExperience         1.000000  0.983642
Salary                  0.983642  1.000000

### data pre-processing

In [8]:
# split x and y
x = df.drop('Salary', axis=1)
y = df['Salary']

In [9]:
# split the data into train and test
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.8, random_state=123456)

### model building

In [10]:
from sklearn.linear_model import LinearRegression

# create the model
model = LinearRegression()

# train the model
model.fit(x_train, y_train)

LinearRegression()

### model evaluation

### visualization

### serialize the model

In [12]:
import pickle

with open("model.pkl", "wb") as file:
    pickle.dump(model, file)